p{
    font-size:200%;
}
h1{
    color:rgb(42, 124, 165);
    font-style:bold;
    font-size:400%;
}
body{
    background-color:rgb(24, 10, 10);
    color:white;
}
div{
    color:red;
    font-size:20px;
    margin-left:40%;
}
ins{
 color:blueviolet;
}
.menu{
    border:2px;
    border-color:rgb(128, 77, 0);
    border-radius:20px;
    font-size:100%;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:5px;
    background-color:green;
    margin-right:20px;
} 
nav{
    border:200%;
    display:inline;
    font-size:200%;
}
.main{
    display:inline-block;
    margin-bottom:5px;
    float:left;

    margin-right:90px;
    margin-top:20px;
}
.aim{
    display:inline-block;
    margin-top:20px;
    margin-bottom:20px;
    float:right;
    
    
}
.man{
    display:inline;
    float:center;

    margin-bottom:20px;
    
    
}

.what{
    display:block;
    text-align:center;
}
    .double{
       display:inline-block;
       float:right;
    }
    .and{
        display:inline-block;
        float:left;
     }
audio{
    display:inline;
    float:center;
    margin-top:10px;
    margin-left:200px;
    margin-bottom:100px;
}
